#cuerpo{
    width: 100%;
    height: 640px;
    background-image: url("./imagenes/felices.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size:cover;
}
h1{
    font-size: 72px;  
    background: -webkit-linear-gradient(left top,  rgb(0, 255, 200),  rgb(117,189,188));
    background: linear-gradient(to bottom right,  rgb(0, 255, 200),  rgb(117,189,188));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
    
}
h3{
    font-size: 72px;  
    background: -webkit-linear-gradient(left top, rgb(0, 255, 200),  rgb(117,189,188));
    background: linear-gradient(to bottom right,  rgb(0, 255, 200),  rgb(117,189,188));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}
#cabecera{
    width: 100%;
    /*background-color: rgb(243, 246, 247);*/
    margin-bottom: 10px;
}
#titulo{
    width: 800px;
    height: 580px;
    text-align: center;
}
a{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    background: -webkit-linear-gradient(left top, rgb(0, 255, 200),  rgb(117,189,188));
    background: linear-gradient(to bottom right,  rgb(0, 255, 200),  rgb(117,189,188));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}
#acceso{
    text-align: right;
    width: 100%;
    /*margin-left: 850px;*/
    /*background-color:  rgb(243, 246, 247);*/
}
p{
    font-size: 40px;
    /*font-family: 'Sofia', cursive;*/
    font-family: 'Lobster', cursive;
    background: -webkit-linear-gradient(left top, rgb(0, 255, 200),  rgb(117,189,188));
    background: linear-gradient(to bottom right,  rgb(0, 255, 200),  rgb(117,189,188));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}